 .cardHolder{
  display: flex;
  align-items: center;
 }

 .card{
  max-width: 75%;
  width: 70%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right:5%;
  border-bottom: 20px;
  border-style: solid;
  border-color: var(--purps);
}

.profilePic{
border-color: var(--bg-dark);
border-right-width: 2px;
border-bottom-width: 2px;
}


@media (max-width: 5000px) {
 .cardHolder{
  place-content: center;
 }

  .card{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  }

  .textContainer{
    max-width: 60%;
  }  

  .profilePicFrame{
    margin-left: 0%;
  }

}


@media (max-width: 805px) {
  .card{
    display: flex;
    flex-direction: column;
   }

   .textContainer{
    max-width: 100%;
  }  

   .profilePicFrame{
    margin-bottom: 5%;
  }

 }

