 .cardHolder{
  display: flex;
  justify-content: center;
  align-items: center;
  
 }
 
 .card{
  max-width: 75%;
  width: 70%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right:5%;
  border-bottom: 20px;
  border-style: solid;
  border-color: var(--purps);
}

.profilePic{
border-color: var(--bg-dark);
border-right-width: 2px;
border-bottom-width: 2px;
}


@media (max-width: 1550px) {

}

@media (max-width: 1224px) {

}

@media (max-width: 900px) {
   
}

@media (max-width: 855px) {

 }

@media (max-width: 805px) {

 }

@media (max-width: 640px) {

}