/* .checkboxes {
  border: 1px red solid;
  min-width: fit-content;
  margin-right: -4rem;
} */

@media (max-width: 1024px) {
  .checkboxes {
    margin-left: 3rem;
  }
}

@media (max-width: 375px) {
  .checkboxes {
    margin-left: 2rem;
  }
}

@media (max-width: 320px) {
  .checkboxes {
    margin-left: 1rem;
  }
}