.footer {
  height: 100px;
  z-index: 99;
}

.footer span {
  font-size: 22px;
}


@media (max-width: 805px) {
  .footerContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .textLock {
    display: none;
  }

  .wifiLogo{
    display:none;
  }
}