/*.footer{
    background-color:var(--purps);
}

.wifinderTextLock{
  color:var(--text-light);
}

.pageLinks{
  color:var(--text-light);
}

.pageLinks:hover{
  color: var(--text-light) !important;
  text-decoration: underline var(--text-light);
}*/


.navLink{
  
}

@media (min-width: 768px) {
    .mobile-nav {
      display: block;
    }
  }