
.locationInputControls {
  display: block;
  margin-bottom: 1rem;
  text-align: left;
}

.locationInputControl label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: var(--text-light);
}

.locationInputControl input {
  font: inherit;
  color: var(--text-dark);
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

@media (max-width: 320px) {
  .locationInputControl input {
    width: 17rem;
  }
}


