.splash {
  background-color: var(--bg-tone);
  opacity: 80%;
}

/* .splashRevealed {
  height: 70vh;
  transition: height 0.5s ease-out;
} */

.splashBottom {
  background-color: var(--lime);
}

body::before {
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: var(--gradient),
    url("../../assets/png/network_neural.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

.card {
  background-color: var(--bg-tone);
}
